.logo-wrapper {
    position: fixed;
    left: 0;
    top: 0px;
    height: 40px;
    width: 100%;
    z-index: 999;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-wrapper {
    position: fixed;
    left: 0;
    top: 40px;
    height: 70px;
    width: 100%;
    z-index: 999;

    background-color: #ed7a23;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player-spacer {
    height: 110px;
    margin-bottom: 2em;
    width: 100%;
}

.player__button {
    margin-left: 0.5em;
}

.player__show {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0.8em;
    margin-right: 1.2em;
    width: 100%;
}

.player__show__name {
    margin: 0;
    color: white;
}
