<div class="logo-wrapper">
  <img src="/assets/logo/bav-text.png">
</div>
<div class="player-wrapper">

  <div class="player__button" *ngIf="canPlayWebstream">
      <i *ngIf="!isPlaying" class="huge play circle icon" (click)="playBtnHandler()"></i>
      <i *ngIf="isPlaying" class="huge pause circle icon" (click)="playBtnHandler()"></i>
  </div>

  <!-- Playbutton fallback -->
  <div class="player__button" *ngIf="!canPlayWebstream">
      <a href="https://stream.radiobav.de" target="_blank" rel="noopener"> <i class="large external alternate icon"></i> </a>
  </div>

  <div class="player__show">
   <h4 *ngIf="show" class="player__show__name">{{show.name}}</h4>
  </div>
</div>

<div class="player-spacer"></div>