<div class="ui two column centered grid container" *ngIf="shows">


  <div class="ui padded basic segment" 
    *ngFor="let show of shows | filterShows | slice:0:3"
  >

    <img class="ui green bordered image" src="{{show.image_path | https}}">
    
    <div class="ui medium inverted grey header nomargintop">
      {{show.starts |  date:'HH:mm':'CEST'}} - {{show.ends |  date:'HH:mm':'CEST'}}
    </div>

  </div>
</div>

<div class="ui active centered inline loader" *ngIf="!shows"></div>
