<div class="ui container" *ngIf="scheduel">

  <app-day
    [shows]="scheduel.monday"
  ></app-day>

  <app-day
    [shows]="scheduel.tuesday"
  ></app-day>

  <app-day
    [shows]="scheduel.wednesday"
  ></app-day>

  <app-day
    [shows]="scheduel.thursday"
  ></app-day>

  <app-day
    [shows]="scheduel.friday"
  ></app-day>

  <app-day
    [shows]="scheduel.saturday"
  ></app-day>

  <app-day
    [shows]="scheduel.sunday"
  ></app-day>

  <app-day
    [shows]="scheduel.nextmonday"
  ></app-day>

  <app-day
    [shows]="scheduel.nexttuesday"
  ></app-day>

  <app-day
    [shows]="scheduel.nextwednesday"
  ></app-day>

  <app-day
    [shows]="scheduel.nextthursday"
  ></app-day>

  <app-day
    [shows]="scheduel.nextfriday"
  ></app-day>

  <app-day
    [shows]="scheduel.nextsaturday"
  ></app-day>

  <app-day
    [shows]="scheduel.nextsunday"
  ></app-day>

</div>

<div class="ui active centered inline loader min-height" *ngIf="!scheduel"></div>


