<div class="basic segment" *ngIf="Date(shows.slice(-1)[0].ends) >= date">

    <h2 class="ui grey inverted center aligned dividing header">
        {{shows[1].starts | date:'EEEE' }}
        <div class="sub header"> {{shows[1].starts | date:'dd. MMMM' }} </div>
    </h2>
    


    <app-show
        *ngFor="let show of shows | filterShows"
        [show]="show"
    ></app-show>

</div>