<div class="ui container">

    <div class="ui basic segment">
        <h2 class="ui orange header">Radio BAV versorgt euch mit allen Genres im elektronischen Bereich.</h2>
        <p class="white-text">
            Radio BAV(ARIA), das ist eure Referenz für elektronische Musik. Wir haben es uns zu Aufgabe gemacht, der Musik die ihr liebt eine Plattform zu geben.
            <br>
            Wir verstehen uns als Projekt mit Wurzeln in Bayern, mit unseren Partner, die verstreut im ganzen Freistaat vertreten sind, schaffen wir eine gute Basis für eigene Veranstaltungen sowie Livestreams auch in eurer Nähe.
            <br>
            Mit der Reihe „BAV-You“ wollen wir euch eine Plattform geben euer Können unter Beweis zu stellen. Unser Ziel ist es euch zu fördern.
        </p>
    </div>

    <div class="ui basic segment">
        <h2>Empfang</h2>

        <p>
            Ihr könnt Radio BAV über mehrere Wege empfangen.
        </p>

        <ol>
            <li>Über unseren integrierten Player auf der Website</li>
            <li>Radio.de: <a class="ui orange" href="https://radiobav.radio.de/">https://radiobav.radio.de/</a></li>
            <li>TuneIn: <a href="https://tunein.com/radio/RadioBAV-s305562/">https://tunein.com/radio/RadioBAV-s305562/</a></li>
            <li>Vtuner: Genre: Dance/Electronica</li>
            <li>Für externe Player:  <a href="stream.radiobav.de/_a.m3u">https://stream.radiobav.de/_a.m3u</a></li>
        </ol>

    </div>

    <div class="ui basic segment">
        <h2>Weiter Fragen?</h2>
        <p>Schreibe uns eine Email an <a href="mailto:info@radiobav.de">info@radiobav.de</a></p>
        <a routerLink="/datenschutz" >Datenschutzerklärung</a> 
        <br>
        <a routerLink="/impressum">Impressum</a><br>


    </div>
</div>