<div class="navi-spacer"></div>

<div class="ui huge bottom fixed four item icon menu">

  <a class="item"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
      <i class="large home icon"></i>
  </a>

  <a class="item"
    routerLink="/showplan"
    routerLinkActive="active"
  >
      <i class="large list alternate icon"></i>
  </a>

  <a class="item"
    routerLink="/bavtv"
    routerLinkActive="active"
  >
      <i class="large tv icon"></i>
  </a>

  <a class="item"
    routerLink="/info"
    routerLinkActive="active"
  >
      <i class="large info circle icon"></i>
  </a>

</div>

