<br>
<br>
<div class="ui horizontal divider">
    <h2 class="ui bav-orange inverted huge header centered">Unsere Freunde</h2>
</div>
<br>

<div class="ui centered grid container">

  <div class="doubling six column row" *ngIf="freunde">

    <div class="column" *ngFor="let imageUrl of freunde">
        <img class="ui medium rounded image" [src]="imageUrl">
    </div>
    
  </div>
</div>