/* You can add global styles to this file, and also import other style files */
.bav-orange {
    color: #ed7a23!important
}

.min-height {
    min-height: 60%;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #242424!important;
}
p, ul, ol, li, h1, h2, h3, h4{
    color: #e1e1e1;
}