<app-aktuelle-show
    [show]="currentShow"
></app-aktuelle-show>

<br>
<br>
<div class="ui horizontal divider">
    <h2 class="bav-orange">Next up:</h2>
</div>

<app-next-shows
    [shows]="nextShows"
></app-next-shows>
