<div class="ui two column centered grid container" *ngIf="show">

    <div class="ui attached segment">
        <h2 class="ui black header">On Air:</h2>
    </div>

    <div class="ui attached segment">
        <img class="ui fluid rounded image" src="{{show.image_path | https}}" fallback-src="/assets/fallback/fallback.jpg">
    </div>

</div>

<div class="ui active centered inline loader" *ngIf="!show"></div>