<div class="ui basic center aligned segment container min-height">

    <br *ngFor="let i of [1,1,1,1]">
    <img class="centered" src="/assets/logo/logohp.png">
    <h2 class="ui centered grey header">Comming soon. Stay tuned!</h2>

</div>