.show-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0;
    padding: 4px;
    background-color: #393939;
}

.show-wrapper__image-block {
    flex: 1;
}

.show-wrapper__image {
    width: 100%;
}

.show-wrapper > .text-block {
    flex: 3;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 0.8em;
}
