<div class="show-wrapper" *ngIf="show">

    <div class="show-wrapper__image-block">
        <img class="show-wrapper__image" *ngIf="show.image_path" src="{{show.image_path | https}}" fallback-src="/assets/fallback/fallback.jpg">
    </div>

    <div class="text-block">
        <h3 class="ui inverted grey large sub header">{{show.name}}</h3>
        <span class="bav-orange small-text"> {{show.starts |  date:'HH:mm':'CEST'}} - {{show.ends |  date:'HH:mm':'CEST'}} </span>
    </div>

</div>
